@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(6, 1, 13);
  color: rgb(255, 255, 255);
  overflow: hidden auto;
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.border-width {
  border-width: 0.2px;
}