@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: rgb(244, 232, 232);
  letter-spacing: 0.2px;

} 

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: rgb(244, 232, 232);
}
h3{
  font-weight: 500;
  font-size: 18px;
}
b{
  font-weight: 600;
  color: rgb(218, 218, 218)
}
p{
  font-size: 15px;
}
body {
  background-color: rgb(2, 0, 5);
  color: rgb(255, 255, 255);
  overflow: hidden hidden;
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.img {
  width: 97.6px;
  height: 56.3px;
}

.border-width {
  border-width: 0.2px;
}

/* Adicionar rolagem apenas para elementos específicos (por exemplo, uma div com uma classe "scrollable") */
.scrollable {
  overflow: auto;
  width: 48%;

}
.divMaster {
  max-width: 600px;
  width: 100%;
}
/* Estilo para o Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* ou a cor desejada */
}

/* Estilo para o Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Estilo para o Internet Explorer e Edge */
*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent; /* ou a cor desejada */
}

.boardProject:hover .titleProject {
  color: rgb(130, 144, 236);
}
.boardProject:hover .iconProject {
  animation: moveUpRight 0.3s forwards;
}

@keyframes moveUpRight {
  to {
    transform: translate(5px, -5px);
  }
}

.about-text{
  font-size: 18px;
  font-weight: 200;
  color: rgb(167, 167, 167);
  letter-spacing: 0.4px;

}


.button-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-bar-span {
  height: 2px;
  background: white;
  width: 0px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  overflow: hidden;
}

.button-bar:hover .button-bar-span {
  width: 100%;
}